<a href="https://colab.research.google.com/github/py-ram/git-basics/blob/main/02_Masai_School_Python_Data_Strucutres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Without data structures - MESSY!
student1_name = "Alice"
student1_grade = 85

student2_name = "Bob"
student2_grade = 92

student3_name = "Charlie"
student3_grade = 78


# 100 people....
# Want to find the average? Ugh...
average = (student1_grade + student2_grade + student3_grade) / 3
print(average)

85.0

In [ ]:
# With a list - CLEAN!
students = ["Alice", "Bob", "Charlie"]
grades = [85, 92, 78]

# Average is now simple
average = sum(grades) / len(grades)
print(f"Average grade: {average}")  # 85.0

Average grade: 85.0

In [ ]:
# Empty list
empty_list = []

# List of numbers
ages = [25, 30, 22, 28]

# List of strings
names = ["Alice", "Bob", "Charlie"]

# List of mixed types (works, but use carefully)
mixed = [42, "hello", 3.14, True]

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])   # "apple" - first item
print(fruits[1])   # "banana" - second item
print(fruits[3])   #

apple
banana
date

In [ ]:

print(fruits[3])
print(fruits[-1])

date
date

In [ ]:
def fun1():
    a = 10
    return a

def fun2():
    a = fun1()
    print(a)

fun2()

10

In [ ]:
# Start with a list
colors = ["red", "blue"]

In [ ]:
# append() - Add to the end
colors.append("red", "green")
print(colors)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
# colors.insert(index, value)

colors.insert(0, "ramu")

In [ ]:
print(colors)

['ramu', 'red', 'Balaji', 'Balaji2', 'blue', 'green', 'green', 'Balaji3', 'green', 'Balaji2', 'Balaji3', 'red']

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7 , 8]


list1.extend(list2)

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list2

[6, 7, 8]

In [ ]:
pets = ["dog", "cat", "bird", "fish", "cat"]

pets.remove("dog")
print(pets)

['cat', 'bird', 'fish', 'cat']

In [ ]:
pets.remove("cat")

In [ ]:
print(pets)

['bird', 'fish', 'cat']

In [ ]:
pets.remove("balaji")

ValueError: list.remove(x): x not in list

In [ ]:


print(pets.pop())

cat

In [ ]:
pets = ["dog", "cat", "bird", "fish", "cat"]
a = pets.pop(1)
print(pets)
print(a)

['dog', 'bird', 'fish', 'cat']
cat

In [ ]:
del pets[0]

In [ ]:
print(pets)

['bird', 'fish', 'cat']

In [ ]:
pets.clear()
print(pets)

[]

In [ ]:
numbers = [10, 20, 30, 20, 40, 20]

# index() - Find position of first occurrence
position = numbers.index(20)
print(position)

1

In [ ]:
how_many = numbers.count(40)
print(how_many)  # 3

1

In [ ]:
if 30 in numbers:
    print("YUes")
else:
    print("No")

No

In [ ]:
numbers = [10, 20, 30, 20, 40, 20]

print(numbers[1])

20

In [ ]:
numbers[1] = "Balaji"
print(numbers)

[10, 'Balaji', 30, 20, 40, 20]

In [ ]:
numbers[-1] = "ramu"
print(numbers)

[10, 'Balaji', 30, 20, 40, 'ramu']

Sorting and reversing

In [ ]:
numbers = [5, 2, 8, 1, 9]

numbers.sort()
print(numbers)

[1, 2, 5, 8, 9]

In [ ]:
numbers.sort(reverse=True)
print(numbers)

[9, 8, 5, 2, 1]

In [ ]:
numbers = [5, 2, 8, 1, 9]

new_list = sorted(numbers)
print(numbers)  # [5, 2, 8, 1, 9] - unchanged
print(new_list)

[5, 2, 8, 1, 9]
[1, 2, 5, 8, 9]

In [ ]:
letters = ["a", "b", "c"]
letters.reverse()
print(letters)

['c', 'b', 'a']

In [ ]:
numbers = [5, 2, 8, 1, 1, 9, 2]

new_list = sorted(numbers)
print(numbers)  # [5, 2, 8, 1, 9] - unchanged
print(new_list)

[5, 2, 8, 1, 1, 9, 2]
[1, 1, 2, 2, 5, 8, 9]

In [ ]:
items = ["apple", "banana", "cherry"]

# len() - Get number of items
count = len(items)
print(count)  # 3

3

# Looping of the list

In [ ]:
for i in items:
    print(i)

apple
banana
cherry

In [ ]:

for i in range(3):
    print(i)
    print(items[i])

0
apple
1
banana
2
cherry

In [ ]:
for i in range(len(items)):
    print(items[i])

apple
banana
cherry

In [ ]:
a, b = 10, 20

index and value of list at same time

In [ ]:
items = ["apple", "banana", "cherry"]
for i in enumerate(items):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [ ]:
for a, b in enumerate(items):
    print(a, b)

0 apple
1 banana
2 cherry

# Nested llist

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [ ]:
matrix[0].append("Balaji")
print(matrix)

[[1, 2, 3, 'Balaji'], [4, 5, 6], [7, 8, 9]]

In [ ]:
for i in enumerate(matrix):
    print(i)

(0, [1, 2, 3, 'Balaji'])
(1, [4, 5, 6])
(2, [7, 8, 9])

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [ ]:
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for i in matrix:
    print(i)
    for j in i:
        print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

In [ ]:
matrix = [
    [1, 2, 3], # 0
    [4, 5, 6], # 1
    [7, 8, 9] # 2
]

matrix[1][1] = 10
print(matrix)

[[1, 2, 3], [4, 10, 6], [7, 8, 9]]

# Lists slicing

In [ ]:
# list[start:end:step]
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
slice1 = numbers[2:5]

In [ ]:
slice2 = numbers[0:4:2]
print(slice2)

[0, 2]

In [ ]:
slice3 = numbers[5:]
print(slice3)

[5, 6, 7, 8, 9]

In [ ]:
slice4 = numbers[:6]
print(slice4)

[0, 1, 2, 3, 4, 5]

In [ ]:
slice5 = numbers[:]
print(slice5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(len(numbers))

10

In [ ]:
len(numbers)/2+1

6.0

In [ ]:
for i in range(int(len(numbers)/2)):
    print(i)

0
1
2
3
4

In [ ]:
numbers[:]

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

# Last 3 items
last_three = letters[-3:]
print(last_three)  # ["e", "f", "g"]

['e', 'f', 'g']

In [ ]:

# Everything except last 2
except_last = letters[:-2]
print(except_last)  # ["a", "b", "c", "d", "e"]

['a', 'b', 'c', 'd', 'e']

In [ ]:
# From -5 to -2 (not including -2)
middle = letters[-5:-2]
print(middle)  # ["c", "d", "e"]

['c', 'd', 'e']

In [ ]:
student_name = "Alice"
student_age = 20
student_grade = 85
student_major = "Computer Science"

# WITH dictionary - organized and clear
student = {
    "name": "Alice",
    "age": 20,
    "grade": 85,
    "major": "Computer Science"
}

In [ ]:
print(type(student))

<class 'dict'>

In [ ]:
student["name"]

'Alice'

In [ ]:
student["age"]

20

In [ ]:
student = {
    1: "Alice",
    "age": 20,
    "grade": 85,
    "major": "Computer Science"
}

In [ ]:
student = {
    "name": [1,23,4,"balajkoi"],
    "age": {},
    "grade": 85,
    "major": "Computer Science"
}

In [ ]:
# Empty dictionary
empty_dict = {}
also_empty = dict()

In [ ]:
# Dictionary with initial data
person = {
    "name": "Bob",
    "age": 25,
    "city": "New York"
}

In [ ]:
# Keys can be strings, numbers, or tuples
mixed_keys = {
    "name": "Alice",
    42: "answer",
    0, 0]: "ori" }

TypeError: unhashable type: 'list'

In [ ]:
# Values can be any type
complex_dict = {
    "number": 42,
    "text": "hello",
    "list": [1, 2, 3],
    "nested": {"a": 1, "b": 2}
}

In [ ]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": 85
}

# Square bracket notation
name = student["name1"]
print(name)  # "Alice"

KeyError: 'name1'

In [ ]:
# get() method (safer - won't crash if key doesn't exist)
age = student.get("age1")
print(age)  # 20

None

In [ ]:
# get() with default value
major = student.get("major", "shgfudsygafyusdfguihadsv")
print(major)  # "Undeclared" (key doesn't exist)

shgfudsygafyusdfguihadsv

# todo : Understand what is happening here....

In [ ]:
list1 = ["asdgd", "bsGASG", "dSDFGADG", "cSADFGDAFG"]
list1.sort()

In [ ]:
print(list1)

['asdgd', 'bsGASG', 'cSADFGDAFG', 'dSDFGADG']

In [ ]:
dict1 = {(1,"a"): "hi",
         (1,"a"): "hi2"}
print(dict1)
dict1.get((1,"a"))

{(1, 'a'): 'hi2'}

'hi2'

In [ ]:

# Square brackets crash if key doesn't exist
# print(student["major"])  # KeyError!

Undeclared1

In [ ]:
person = {"name": "Bob", "age": 25}

person["city"] = "New York"
print(person)

{'name': 'Bob', 'age': 25, 'city': 'New York'}

In [ ]:
print(person)

{'name': 'Bob', 'age': 25, 'city': 'New York'}

In [ ]:
person["age"] = 26
print(person)

{'name': 'Bob', 'age': 26, 'city': 'New York'}

In [ ]:
car = {
    "brand": "Toyota",
    "model": "Camry",
    "year": 2020,
    "color": "blue"
}

# pop() - Remove and return value
model = car.pop("model")
print(model)  # "Camry"
print(car)    # {"brand": "Toyota", "year": 2020, "color": "blue"}

Camry
{'brand': 'Toyota', 'year': 2020, 'color': 'blue'}

In [ ]:
# pop() with default (doesn't crash if key missing)
owner = car.pop("owner", "Unknown")
print(owner)  # "Unknown"

Unknown

In [ ]:

# del - Delete item
del car["color"]
print(car)  # {"brand": "Toyota", "year": 2020}

# clear() - Remove all items
car.clear()
print(car)  # {}

{'brand': 'Toyota', 'year': 2020}
{}

In [ ]:
user = {
    "username": "alice123",
    "email": "alice@example.com",
    "age": 25
}

In [ ]:
# keys() - Get all keys
keys = user.keys()

In [ ]:
print(keys)

dict_keys(['username', 'email', 'age'])

In [ ]:
print(list(keys))  # ["username", "email", "age"]

['username', 'email', 'age']

In [ ]:
# values() - Get all values
values = user.values()
print(list(values))  # ["alice123", "alice@example.com", 25]

['alice123', 'alice@example.com', 25]

In [ ]:
# items() - Get all key-value pairs as tuples
items = user.items()
print(list(items))

[('username', 'alice123'), ('email', 'alice@example.com'), ('age', 25)]

In [ ]:
# Check if key exists
if "email" in user:
    print("Email exists!")

if "phone" not in user:
    print("No phone number")

# len() - Number of key-value pairs
count = len(user)
print(count)  # 3

Email exists!
No phone number
3

In [ ]:
if "a" in list(user.values()):
    print("yes")

# Iterating thoguh dictionaries

In [ ]:
prices = {
    "apple": 0.50,
    "banana": 0.30,
    "cherry": 0.80
}

In [ ]:
for i in prices.items():
    print(i)

('apple', 0.5)
('banana', 0.3)
('cherry', 0.8)

In [ ]:
for a, b in prices.items():
    print(a, b)

apple 0.5
banana 0.3
cherry 0.8

In [ ]:
students = {
    "Alice": {
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]
    },
    "Bob": {
        "age": 21,
        "grade": 92,
        "courses": ["Chemistry", "Biology"]
    }
}

In [ ]:
students["Alice"]['grade']

85

In [ ]:
student1 = {"Name": "Balaji",
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]}

student2 = {"Name": "Bob",
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]}

student3 = {"Name": "Ramu",
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]}

In [ ]:
students = {
    "roll 1": {
        "Name": "Alice",
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]
    },
    "Bob": {
        "age": 21,
        "grade": 92,
        "courses": ["Chemistry", "Biology"]
    }
}


print(type(students))

<class 'dict'>

In [ ]:
if isinstance(students, dict):
    print("Yes")

Yes

In [ ]:
students = {
    "roll 1": {
        "Name": "Alice",
        "age": 20,
        "grade": 85,
        "courses": ["Math", "Physics"]
    },
    "Bob": {
        "age": 21,
        "grade": 92,
        "courses": ["Chemistry", "Biology"]
    }
}


count_dict = 1
for key, value in students.items():
    if isinstance(value, dict):
        for key1, value1 in value.items():
            count_dict += 1

print(count_dict)

3

# Tuples

In [ ]:
SCREEN_SIZE = (1920, 1080)
SCREEN_SIZE_2 = [1920, 1080]

In [ ]:
birthdate = (1996, "Jan", 1)

In [ ]:
print(type(SCREEN_SIZE))
print(type(SCREEN_SIZE_2))

<class 'tuple'>
<class 'list'>

In [ ]:
single = (42)
print(type(single))

<class 'int'>

In [ ]:
single = (42,)
print(type(single))

<class 'tuple'>

In [ ]:
SCREEN_SIZE

(1920, 1080, 2089, 'AHBSFHSDF', {6: 8})

In [ ]:
list1 = []
dict1 = {}
tuple1 = ()

In [ ]:
person = ("Alice", 25, "New York")

# Indexing (same as lists)
name = person[0]
age = person[1]
city = person[2]
print(name)  # "Alice"

Alice

In [ ]:

# Negative indexing
last = person[-1]
print(last)  # "New York"

New York

In [ ]:

# Slicing (same as lists)
first_two = person[:2]
print(first_two)  # ("Alice", 25)

('Alice', 25)

In [ ]:
a , b , c = 10, 20, 30

In [ ]:
print(a,b,c)

10 20 30

In [ ]:
a,b,c = ("Alice", 25, "New York")
print(a,b,c)

Alice 25 New York

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(len(numbers))

5

In [ ]:
a, b, c, d, e = numbers
print(a, b, c, d, e)

1 2 3 4 5

In [ ]:
a, *b, e = numbers
print(a, b, e)

1 [2, 3, 4] 5

In [ ]:
# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

In [ ]:
values = (1, 2, 3, 2, 4, 2, 5)

# count() - Count occurrences
twos = values.count(2)
print(twos)  # 3

# index() - Find position of first occurrence
position = values.index(3)
print(position)  # 2

# index() with start position
position2 = values.index(2, 2)  # Find 2 starting from index 2
print(position2)  # 3

3
2
3

In [ ]:
dimensions = (1920, 1080, 60)

# Direct iteration
for value in dimensions:
    print(value)

1920
1080
60

In [ ]:
labels = ["width", "height", "fps"]
for i, value in enumerate(dimensions):
    print(f"{labels[i]}: {value}")

width: 1920
height: 1080
fps: 60

In [ ]:
a = [(1,3), (2,2), (4,5,6)]
print(type(a))

<class 'list'>

In [ ]:
print(type(a[0]))

<class 'tuple'>

In [ ]:
b = (3,4)
b[0] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = ([1,2,4], 4)

print(a[0][1])

2

In [ ]:
a[0][1] = 5

In [ ]:
print(a)

([1, 5, 4], 4)

In [ ]:
print(type(a))

<class 'tuple'>